<h1> Welcome to your dashboard! </h1>

<div id="myProfile">
    <h2>Profile</h2>
    <p>Username: </p>
    <p>Email: </p>
    <button type="button" id="editProfile" href="editProfile.ejs">Edit profile</button>
</div>

<div id="myPets">
    <h2>Pets</h2>
    
</div>

<div id="myStories">
    <h2>Stories</h2>
</div>