<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>Welcome to PetDB !</title>
</head>
<body>
    
<div id='title'>
    <h1>Welcome to PetDB !</h1>
    <h2>Feel free to browse our database of pet stories</h2>
</div>

<div id="jumbotron">
JUMBOTRON PLACEHOLDER
</div>

<div id='intro'>
    <p id='intro-text'>
    The purpose of this website is to share good vibes with funny pet stories and pictures.<br>
    Browse stories by categories of types of pets, names, date and more.<br>
    Feel free to sign up to introduce us to your very own pawsome friends!<br>
    </p>
    <a id="login-button" href="/login"> Login </a>
    <a id="register-button" href="/register"> Register </a>
</div>


</body>
</html>