<h1> Got some funny stories to tell? Come on in! </h1>
<div id="form-container">
    <form action="/dashboard" method="post">
        <div id="username-part">
            <label for="username" name="username">Username: </label><br>
            <input type="text" name="username" placeholder="Type in your username" required>
        </div>
        <div id="password-part">
            <label for="password" name="password">Password: </label><br>
            <input type="text" name="password" placeholder="Type in your password" required>
        </div>
        <div id="submit-part">
            <input type="submit" value="Log in">
        </div>
    </form>
</div>
<div id="to-register">
    Not a member yet? No problem! Create an account <a href="/register"> here </a> !
</div>