<h1>Join in on the PetDB fun! </h1>
<div id="form-container">
    <form action="/register" method="post">
        <div id="username-part">
            <label for="username">Username: </label><br>
            <input type="text" name="username" placeholder="Type in your username" required>
        </div>
        <div id="email-part">
            <label for="email">Email: </label><br>
            <input type="text" name="email" placeholder="Type in your email address" required>
        </div>
        <div id="password-part">
            <label for="password">Password: </label><br>
            <input type="text" name="password" placeholder="Type in your password" required>
        </div>
        <div id="confirm-password-part">
            <label for="password">Confirm password: </label><br>
            <input type="text" name="rePassword" placeholder="Type in your password again" required>
        </div>
        <div id="submit-part">
            <button type="submit">Join the family!</button>
        </div>
    </form>
</div>
<div >
    Already a member? Great! <a href="/login"> Hop in! </a>
</div>